// Fonts
$font-path: '../fonts/';
@import '../../fonts/reborn';
@import '../../fonts/oldsansblack';
@import '../../fonts/lemonmilk';

// Reset
@import "../reset";

// Variables
@import "../variables";

// Mixins
@import "../mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// Admin style
#admin-app {

    // TAB CONTENT
    .tab-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // INPUT FILE
    .form-group-preview {
        @include flex($jc:flex-start, $ai:flex-end);
        .previewImg {
            background: $white;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 15px;
            &.preview-small {
                @include size(100px, 100px);
            }
            &.preview-medium {
                @include size(300px, 150px);
            }
        }
    }

}
