html {
    font-size: 62.5%;
    width: 100%;
    body {
        opacity: 0;
        transition: all .5s ease-in;
        margin: 0;
        padding: 0;
        @include ff(1);
        font-weight: 300;
        @include fs(1.6rem, 2.4rem);
        &.loaded {
            opacity: 1;
        }
        // Container
        .full-height {
            min-height: 100vh;
            overflow: hidden;
        }
        .flex-full-height {
            @include flexFH();
        }
        .link-container {
            position: relative;
            margin-top: auto;
            padding-top: 55px;
            @media screen and (max-width: $breakpt-xs) {
                display: none;
            }
            .btn-down {
                position: absolute;
                width: 200px;
                text-align: center;
                left: 50%;
                margin-left: -100px;
                bottom: -100px;
                opacity: .8;
                transition: all .8s ease-in-out;
                .label-link {
                    color: $dark-reborn;
                }
                .link-icon {
                    span {
                        color: $dark-reborn;
                        @include fs(4rem);
                        @include size(70px);
                        @include flex();
                        margin: auto;
                    }
                }
                &:hover {
                    opacity: 1;
                    .link-icon {
                        @include ondeeffect();
                    }
                }
                &.loaded {
                    bottom: 25px;
                }
            }
        }

        // Font
        strong {
            font-weight: bold;
        }


        // Colors
        .white {
            color: $white!important;
        }
        .black {
            color: $black!important;
        }
        .dark-reborn {
            color: $dark-reborn!important;
        }
        .light-reborn {
            color: $light-reborn!important;
        }
        .light-reborn {
            color: $light-reborn!important;
        }
        .gold-reborn {
            color: $gold-reborn!important;
        }

        // Background Color
        .bg-light {
            background-color: $light-grey-1!important;
        }
        .bg-white {
            background-color: $white!important;
        }
        .bg-black {
            background-color: $black!important;
        }
        .bg-dark-reborn {
            background-color: $dark-reborn!important;
        }
        .bg-light-reborn {
            background-color: $light-reborn!important;
        }
        .bg-light-reborn {
            background-color: $light-reborn!important;
        }
        .bg-gold-reborn {
            background-color: $gold-reborn!important;
        }

        // Padding
        .padding-top-big {
            padding-top: 120px;
            @media screen and (max-width: $breakpt-md) {
                padding-top: 60px;
            }
            @media screen and (max-width: $breakpt-sm) {
                padding-top: 40px;
            }
        }
        .padding-bottom-big {
            padding-bottom: 120px;
            @media screen and (max-width: $breakpt-md) {
                padding-bottom: 60px;
            }
            @media screen and (max-width: $breakpt-sm) {
                padding-bottom: 40px;
            }
        }

        // Transition
        *, *:before, *:after {
            transition: all .2s ease-in;
        }
        .oneByOne>* {
            opacity: 0;
            &.loaded {
                opacity: 1;
            }
        }

        // Titles
        .section-big-title {
            @include ff(2);
            @include fs(6rem, 7rem);
            color: $dark-reborn;
            text-transform: uppercase;
            @media screen and (max-width: $breakpt-sm) {
                @include fs(3rem, 3.5rem);
            }
            small {
                line-height: 6.7rem;
                margin-top: -3px;
                display: block;
                color: $light-reborn;
                @media screen and (max-width: $breakpt-sm) {
                    @include fs(3rem, 3.7rem);
                }
            }
        }

        // Logo reBorn
        #logo-reborn {
            width: 50px;
            position: fixed;
            top: 0;
            left: 50%;
            margin-left: -20px;
            z-index: 100;
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 30px;
                position: relative;
                &:before, &:after {
                    content: "";
                    display: block;
                    background-color: $dark-reborn;
                    width: 15px;
                    height: 25px;
                    position: absolute;
                    top: 0;
                }
                &:before {
                    right: calc(50% + 1px);
                }
                &:after {
                    left: calc(50% + 1px);
                }
                img {
                    width: 100%;
                }
            }
        }

        // Logo Evangelist
        #logo-evangelist {
            @include flex($dir:column);
            position: fixed;
            right: 10px;
            top: 0;
            padding: 10px 10px 0 0;
            z-index: 1;
            span {
                @include ff(3);
                @include fs(5rem);
                font-weight: bold;
            }
        }

        // Wrapper
        .wrapper {
            position: relative;
        }

        // Sections
        #section-evangelist-projects {
            &>div {
                .section-big-title {
                    text-align: center;
                }
                #gallery-filter {
                    ul {
                        width: 100%;
                        @include flex();
                        margin: 55px 0;
                        li {
                            @include ff(2);
                            text-transform: uppercase;
                            padding: 3px 25px;
                            color: $light-reborn;
                            &.on {
                                color: $dark-reborn;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                #gallery-projects {
                    @media screen and (max-width: $breakpt-sm) {
                        height: auto!important;
                    }
                    .projects {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        @include flex($ai:flex-start, $jc:flex-start);
                        &>li {
                            position: absolute;
                            display: none;
                            @media screen and (min-width: $breakpt-sm + 1) {
                                opacity: .2;
                                display: block;
                            }
                            &.on {
                                opacity: 1;
                                display: block;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            &:nth-child(12n+1) {
                                width: 40%;
                                left: 0;
                            }
                            &:nth-child(12n+2) {
                                width: 20%;
                            }
                            &:nth-child(12n+3) {
                                width: 20%;
                            }
                            &:nth-child(12n+4) {
                                width: 40%;
                            }
                            &:nth-child(12n+5) {
                                width: 40%;
                            }
                            &:nth-child(12n+6) {
                                width: 40%;
                            }
                            &:nth-child(12n+7) {
                                width: 20%;
                            }
                            &:nth-child(12n+8) {
                                width: 20%;
                            }
                            &:nth-child(12n+9) {
                                width: 40%;
                            }
                            &:nth-child(12n+10) {
                                width: 20%;
                            }
                            &:nth-child(12n+11) {
                                width: 20%;
                            }
                            &:nth-child(12n+12) {
                                width: 20%;
                            }
                            @media screen and (max-width: $breakpt-sm) {
                                position: static;
                                padding: 5px 0;
                                width: 100%!important;
                                height: 200px!important;
                            }
                            @media screen and (max-width: $breakpt-xs) {
                                height: 150px!important;
                            }
                            &>a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                position: relative;
                                overflow: hidden;
                                &:hover {
                                    .pic {
                                        -webkit-filter: grayscale(0%);
                                        filter: grayscale(0%);
                                        transform: scale(1.1);
                                    }
                                }
                                .pic {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    @include bgImg();
                                    -webkit-filter: grayscale(90%);
                                    filter: grayscale(90%);
                                    transition: all .4s ease-in;
                                    transform: scale(1);
                                }
                                .infos {
                                    position: absolute;
                                    z-index: 10;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    padding: 10px 25px 10px 10px;
                                    p {
                                        color: $white;
                                        text-shadow: 0 0 .3 $black;
                                        &.title {
                                            @include fs(2rem);
                                            margin-bottom: 7px;
                                        }
                                        &.cats {
                                            font-weight: 100;
                                            @include fs(1.3rem);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
