#homepage {
    #section-welcome {
        text-align: center;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        .bandes-container {
            @include size(100%, 30vh);
            .bandes {
                width: 80px;
                height: 0%;
                position: relative;
                margin: auto;
                transition: all .8s ease-in-out;
                @media screen and (max-width: $breakpt-xs) {
                    width: 60px;
                }
                &:before, &:after {
                    content: "";
                    width: calc(50% - 2px);
                    height: 100%;
                    display: block;
                    background-color: $dark-reborn;
                    position: absolute;
                    top: 0;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                &.loaded {
                    height: 80%;
                }
            }
        }
        .logo-container {
            @include size(100%, 25vh);
            text-align: center;
            #logo {
                height: 90%;
            }
        }
        .slogan-container {
            @include size(100%, 100px);
            padding: 15px 0;
            &>.container {
                height: 100%;
                @include flex();
                position: relative;
                h1 {
                    @include fs(2rem);
                    font-weight: 100;
                    position: relative;
                    z-index: 1;
                    background-color: $light-grey-1;
                    padding: 0 15px;
                    @media screen and (max-width: $breakpt-xs) {
                        @include fs(1.4rem);
                    }
                }
                &:before {
                    content: "";
                    display: block;
                    width: 0;
                    height: 1px;
                    background-color: $gold-reborn;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -.5px;
                    transition: all .8s ease-in-out;
                }
            }
            &.loaded {
                &>.container {
                    &:before {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
    #section-evangelist-list {
        display: flex;
        &>.container {
            flex-direction: column;
            &>.row {
                .left {
                    justify-content: flex-end;
                    .section-big-title {
                        padding-top: 100px;
                        text-align: right;
                        @media screen and (max-width: $breakpt-sm) {
                            padding-top: 0;
                            text-align: center;
                        }
                    }
                }
                .right {

                    @media screen and (min-width: $breakpt-xs+1) {
                        padding-left: 55px;
                    }
                    ul.evangelists {
                        width: 100%;
                        @include flex($jc:flex-start, $ai:flex-start);
                        &>li {
                            width: 50%;
                            padding: 15px 25px;
                            @media screen and (max-width: $breakpt-xs) {
                                width: 100%;
                            }
                            &>a {
                                @include flex($dir:column, $ai:flex-end);
                                opacity: .85;
                                .pic {
                                    display: block;
                                    @include size(100%, 250px);
                                    @include bgImg();
                                    overflow: hidden;
                                    @media screen and (min-width: $breakpt-xs + 1) {
                                        -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
                                        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
                                    }
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .name {
                                    @include ff(2);
                                    @include fs(4rem, 3rem);
                                    text-align: right;
                                    padding: 15px 15%;
                                    text-transform: uppercase;
                                    small {
                                        display: inline-block;
                                        font-size: 40%;
                                        display: block;
                                    }
                                }
                                .job {
                                    text-align: right;
                                    padding-right: 15%;
                                }
                                &:hover {
                                    opacity: 1;
                                }
                            }
                            .socials {
                                @include flex($jc:flex-end);
                                padding-right: 15%;
                                padding-top: 15px;
                                li {
                                    &:not(:last-child) {
                                        margin-right: 15px;
                                        a {
                                            @include fs(2.2rem);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section-evangelist-projects {
        &>div {
            .section-big-title {
                text-align: center;
            }
            #gallery-filter {
                ul {
                    width: 100%;
                    @include flex();
                    margin: 55px 0;
                    li {
                        @include ff(2);
                        text-transform: uppercase;
                        padding: 3px 25px;
                        color: $light-reborn;
                        &.on {
                            color: $dark-reborn;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            #gallery-projects {
                @media screen and (max-width: $breakpt-sm) {
                    height: auto!important;
                }
                .projects {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    @include flex($ai:flex-start, $jc:flex-start);
                    &>li {
                        position: absolute;
                        display: none;
                        @media screen and (min-width: $breakpt-sm + 1) {
                            opacity: .2;
                            display: block;
                        }
                        &.on {
                            opacity: 1;
                            display: block;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        &:nth-child(12n+1) {
                            width: 40%;
                            left: 0;
                        }
                        &:nth-child(12n+2) {
                            width: 20%;
                        }
                        &:nth-child(12n+3) {
                            width: 20%;
                        }
                        &:nth-child(12n+4) {
                            width: 40%;
                        }
                        &:nth-child(12n+5) {
                            width: 40%;
                        }
                        &:nth-child(12n+6) {
                            width: 40%;
                        }
                        &:nth-child(12n+7) {
                            width: 20%;
                        }
                        &:nth-child(12n+8) {
                            width: 20%;
                        }
                        &:nth-child(12n+9) {
                            width: 40%;
                        }
                        &:nth-child(12n+10) {
                            width: 20%;
                        }
                        &:nth-child(12n+11) {
                            width: 20%;
                        }
                        &:nth-child(12n+12) {
                            width: 20%;
                        }
                        @media screen and (max-width: $breakpt-sm) {
                            position: static;
                            padding: 5px 0;
                            width: 100%!important;
                            height: 200px!important;
                        }
                        @media screen and (max-width: $breakpt-xs) {
                            height: 150px!important;
                        }
                        &>a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            overflow: hidden;
                            &:hover {
                                .pic {
                                    -webkit-filter: grayscale(0%);
                                    filter: grayscale(0%);
                                    transform: scale(1.1);
                                }
                            }
                            .pic {
                                width: 100%;
                                height: 100%;
                                display: block;
                                @include bgImg();
                                -webkit-filter: grayscale(90%);
                                filter: grayscale(90%);
                                transition: all .4s ease-in;
                                transform: scale(1);
                            }
                            .infos {
                                position: absolute;
                                z-index: 10;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                padding: 10px 25px 10px 10px;
                                p {
                                    color: $white;
                                    text-shadow: 0 0 .3 $black;
                                    &.title {
                                        @include fs(2rem);
                                        margin-bottom: 7px;
                                    }
                                    &.cats {
                                        font-weight: 100;
                                        @include fs(1.3rem);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}