// Size (width equal to height)
@mixin size($width, $height:$width) {
    width: $width;
    height: $height;
}

// Font family
@mixin ff($font: 1) {
    font-family: map-get($fonts, $font);
}

// Font size
@mixin fs($size, $lineheight: $size) {
    font-size: $size;
    line-height: $lineheight;
}

// Flexbox
@mixin flex($type: flex, $dir: row, $jc: center, $ai: center, $wrap: true) {
    display: $type;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
    @if $wrap {
        flex-wrap: wrap;
    }
}

// Flex child full height
@mixin flexFH() {
    display: flex;
    flex-direction: column;
    height: auto;
}

// Background Image
@mixin bgImg($url:false, $size: cover, $position: center center, $repeat: no-repeat) {
    @if $url {
        background-image: url($url);
    }
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

// Onde Effect
@-webkit-keyframes growFast {
    0% {
        @include size(0);
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
    }
    50% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
    100% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
}
@-webkit-keyframes growSlow {
    0% {
        @include size(0);
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
    }
    80% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
    100% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes growFast {
    0% {
        @include size(0);
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
    }
    50% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
    100% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
}
@keyframes growSlow {
    0% {
        @include size(0);
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
    }
    90% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
    100% {
        @include size(500px);
        margin-left: -250px;
        margin-top: -250px;
        opacity: 0;
    }
}

@mixin ondeeffect ($overflowhidden: false, $dark:true) {
    position: relative;
    @if $overflowhidden {
        overflow: hidden;
    }
    &:before, &:after {
        content: "";
        @if $dark {
            background: rgba(150,150,150,.1);
        } @else {
            background: rgba(250,250,250,.1);
        }

        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
    }
    &:before {
        animation: growFast 3s ease-in-out infinite;
    }
    &:after {
        animation: growSlow 3s ease-in-out infinite;
    }
}